* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.prodotti {
    width: 1000px;
    height: 800px;
    background: red;
    margin-left: 500px;
    margin-top: 100px;

}
.prodotto {
    width: 250px;
    height: 250px;
    background-color: red;
    display: inline-block;
    margin-right: 2px;
    text-align: center;
    position: relative;

}
.prodotto span{
    display:none;
    position: absolute;
    bottom:0;
    left: 50%;
}
.prodotto:hover span{
    display:block;
}
